<div>
  <%= @hash %>
</div>
------------------------------
<div>
   <%= @hash["warn_message"] %>
</div>
------------------------------
<div>
  <%= @hash["data"]%>
</div>
------------------------------